.form{
    display: flex;
}
.form input,
.form button{
    padding: 0.5rem 1rem;
    border-radius: 0;
    outline: none;
    border: 0;
}
.form input:focus{
    border:1px solid orange;
    border-right: none;
}
.form button{
    background-color: white;
    color:orange;
    border:1px solid orange;
}
.form button:hover,
.form button:active{
    color:white;
    background-color: orange;
}